
body {
    background: #1e1e1e;
}
.top-bar{
    background: #2f3869;
}
.panel {
    border-radius: 5px;
}

#messageOfTheDay{
    margin-top: 20px;
}

.upvote {
    color: #029417;
}

.downvote {
    color: crimson;
}

